	<div class="container my-5">
		<h2 class="text-center mb-5 fw-bold">
			<i class="bi bi-car-front-fill text-primary"></i>
			Détails du trajet
		</h2>

<div class="container">
	<div class="row">
		<div class="col-md-6 mb-4">
			<div id="carpooling-block"></div>
		</div>
		<div class="col-md-6 mb-4">
			<div id="driver-block"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-4">
			<div id="vehicle-block"></div>
		</div>
		<div class="col-md-6 mb-4">
			<div id="participants-block"></div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 mb-4">
			<div id="carpooling-block"></div>
		</div>
		<div class="col-md-6 mb-4">
			<div id="driver-block"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-4">
			<div id="vehicle-block"></div>
		</div>
		<div class="col-md-6 mb-4">
			<div id="participants-block"></div>
		</div>
	</div>
</div>


	</div>

	{# Inclure les composants #}
	{% include 'api/carpooling/components/_carpooling_block.html.twig' %}
	{% include 'api/carpooling/components/_driver_block.html.twig' %}
	{% include 'api/carpooling/components/_vehicle_block.html.twig' %}
	{% include 'api/carpooling/components/_participants_block.html.twig' %}


