<div id="isDriver" class="alert alert-secondary alert-dismissible fade show d-flex align-items-center justify-content-between shadow-sm" role="alert">
	<div class="d-flex align-items-center">
		<i class="bi bi-person-fill-gear fs-4 me-2 text-primary"></i>
		<div>
			<strong>Chargement...</strong><br>
			<small class="text-muted">Veuillez patienter pendant la récupération des informations du conducteur.</small>
		</div>
	</div>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>

</div>

