<footer class="bg-success text-dark mt-5 border-3 border-success pt-5">



	<div class="container py-5">
		<div
			class="row g-4">
			<!-- Bloc 1 : EcoRide -->
			<div class="col-12 col-md-4">
				<p class="mb-2">
<div class="pb-2"><img src="{{ asset('assets/images/logo.svg') }}" alt="Logo" height="40"></div>



					Covoiturage écologique : réduisez vos coûts et votre empreinte carbone.
				</p>

			</div>

			<!-- Bloc 2 : Liens rapides -->
			<div class="col-12 col-md-4">
				<h5 class="text-uppercase mb-3">Liens rapides</h5>
				<ul class="nav flex-column small">
					<li class="nav-item">
						<a class="nav-link px-0 link-secondary" href="#">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-0 link-secondary" href="#">Trajets</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-0 link-secondary" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a href="#" class="link-secondary text-decoration-none me-3">Mentions légales</a>
					</li>
				</ul>
			</div>

			<!-- Bloc 3 : Suivez-nous -->
			<div class="col-12 col-md-4">
				<h5 class="text-uppercase mb-3">Contactez-nous</h5>
				<div class="d-flex gap-2">

					<p class="small mb-0">
						<a href="mailto:contact@ecoride.app" class="link-primary text-decoration-none">contact@ecoride.com</a>
					</p>
				</div>

				<h5 class="my-3">Suivez-nous</h5>
				<i class="bi bi-facebook fs-3"></i>
			</div>
		</div>

		<hr class="border-secondary opacity-25 my-4">

		<div class="d-flex flex-column flex-md-row justify-content-between align-items-center small">
			<div>©
				{{ "now"|date("Y") }}
				EcoRide — Tous droits réservés.</div>

		</div>
	</div>
</footer>
