<div class="container py-5 my-5">
	<div
		class="row g-4">

		{# Bloc Conducteur #}
		<div class="col-md-6">
			<div class="card text-center shadow-sm h-100 position-relative overflow-hidden border-0">
				<span class="badge text-light bg-secondary position-absolute top-0 end-0 m-2">CONDUCTEUR</span>

				<div class="overflow-hidden">
					<img class="card-img-top hover-zoom" alt="Conducteurs, proposez un trajet" src="{{ asset('assets/img/conducteur-step-1.svg') }}" style="height: 150px; transition: transform 0.5s;">
				</div>

				<div class="card-body">
					<div class="card-title h5 fw-bold">Conducteur ? proposez un trajet !</div>
					<p class="card-text">
						Augmentez vos revenus tout en réalisant des économies sur vos déplacements.
					</p>
					<div class="d-grid d-md-inline-block">
						<button type="button" class="btn btn-link rounded-pill">


							<i class="bi bi-plus-circle me-2"></i>
							Je propose un trajet
						</button>
					</div>

				</div>


			</div>
		</div>

		{# Bloc Passager #}
		<div class="col-md-6">
			<div class="card text-center shadow-sm h-100 position-relative overflow-hidden border-0">
				<span class="badge text-light bg-secondary position-absolute top-0 end-0 m-2">PASSAGER</span>

				<div class="overflow-hidden">
					<img class="card-img-top hover-zoom" alt="Passagers, recherchez un trajet" src="{{ asset('assets/img/passager-step-1.svg') }}" style="height: 150px; transition: transform 0.5s;">
				</div>

				<div class="card-body">
					<div class="card-title h5 fw-bold">Passager ? recherchez un trajet !</div>
					<p class="card-text">
						Déplacez-vous en toute confiance et à moindre coût.
					</p>
					<div class="d-grid d-md-inline-block">


<a href="{{path('app_front_search_ride')}}" type="button" class="btn btn-link rounded-pill">




							<i class="bi bi-search me-2"></i>
							Je cherche mon trajet
</a>


					</div>

				</div>
			</div>
		</div>

	</div>
</div>
