<div class="mb-4 p-3 bg-body-secondary rounded-3 border" id="carpoolings-div">
	<h5 class="mb-3">Covoiturages</h5>
	<div id="carpoolings-content">Chargement…</div>
	<div id="p-error" class="alert alert-danger d-none mt-3"></div>
</div>

